<h1>Orders index</h1>

<p><%= link_to "Home", root_path, class: "btn btn-primary" %></p>

<div class="d-flex">
  <% @orders.each do |order| %>
    <div class="card">
      <p> customer : <%= User.find(order.customer_id).first_name %> <%= User.find(order.customer_id).last_name %></p>
      <p> Address: <%= order.address %></p>
      <p> date : <%= order.date %></p>
      <p> latitude : <%= order.latitude %></p>
      <p> longitude : <%= order.longitude %></p>
    </div>
    <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>