<div class="orders-content d-flex">
  <div class="order-details" style="width: 100%">
    <h1>Orders index</h1>
    <p><%= link_to "Home", root_path, class: "btn btn-primary" %></p>
    <div class="order-cards">
      <% @orders.each do |order| %>
        <div class="card">
          <p> customer : <%= User.find(order.customer_id).first_name %> <%= User.find(order.customer_id).last_name %></p>
          <p> Address: <%= order.address %></p>
          <p> date : <%= order.date %></p>
          <p> Fixed : <%= order.fixed %></p>
          <p> Fixer : <%= order.fixer_id %></p>
        </div>
        <% end %>
      </div>
  </div>

  <div class="index-map">
    <% if @orders.count > 0 %>
      <div id="map" style="width: 100%; height: 100%;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <% else %>
      <p>No order at this time. Come back later !</p>
    <% end %>
  </div>
</div>